@import "../../responsive.scss";

/* Base styles */
.singlePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  /* Details section */
  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    /* Wrapper */
    .wrapper {
      padding-right: 50px;

      @include lg {
        padding-right: 20px;
      }

      @include md {
        padding-right: 0px;
      }

      /* Info section */
      .info {
        margin-top: 50px;

        /* Top section */
        .top {
          display: flex;
          justify-content: space-between;

          @include sm {
            flex-direction: column;
            gap: 20px;
          }

          /* Post info */
          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
              font-weight: 400;
            }

            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #888;
              font-size: 14px;

              img {
                width: 45px;
                height: 45px;
              }
            }

            .price {
              padding: 5px;
              background-color: rgba(254, 205, 81, 0.438);
              border-radius: 5px;
              width: max-content;
              font-size: 20px;
              font-weight: 300;
            }
          }

          /* User info */
          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0px 50px;
            border-radius: 10px;
            background-color: rgba(254, 205, 81, 0.209);
            font-weight: 600;

            @include sm {
              padding: 20px 50px;
            }

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }

        /* Bottom section */
        .bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20px;
        }
      }
    }
  }

  /* Features section */
  .features {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    /* Wrapper */
    .wrapper {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include md {
        padding: 20px;
      }

      img {
        width: 24px;
        height: 24px;
      }

      /* Title */
      .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
      }

      /* Feature items */
      .feature {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          background-color: rgba(254, 205, 81, 0.209);
        }

        .featureText {
          span {
            font-weight: bold;
          }

          p {
            font-size: 14px;
          }
        }
      }

      /* List styles */
      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }

      .listHorizontal {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }

      /* Sizes section */
      .sizes {
        display: flex;
        justify-content: space-between;

        @include lg {
          font-size: 12px;
        }

        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }

      /* Map container */
      .mapContainer {
        width: 100%;
        height: 200px;
      }

      /* Buttons */
      .buttons {
        display: flex;
        justify-content: space-between;

        button {
          padding: 10px;
          display: flex;
          align-items: center;
          margin: 10px;
          gap: 10px;
          background-color: white;
          border: 1px solid #fece51;
          border-radius: 5px;
          cursor: pointer;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  /* Dark mode */
&.dark-mode {
  /* Features section */
  .features {
    background-color: #363739; /* Dark background color */

    .listVertical,
    .listHorizontal {
      background-color: #222222; /* Darker background color */
      box-shadow: 0px 2px #111111; /* Darker shadow */
    }

    .title {
      color: #e0e0e0; /* Lighter text color */
    }

    .feature img {
      background-color: rgba(255, 255, 255, 0.1); 
      filter: brightness(0) invert(1);
    }

    .featureText span {
      color: #a0a0a0; 
    }

    .sizes .size {
      background-color: #222222;
      box-shadow: 0px 2px #111111; 
      color: #ffffff;
      img {
        filter: brightness(0) invert(1);
      }
    }

    .buttons button {
      color: #000000; 
      border: 1px solid #333333;
    }
  }
}

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c3be;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

