.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
  height: 100vh; /* Ensure it takes the full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */

  .imgContainer {
    img {
      width: 100%;
      height: auto;
    }
  }

  .textContainer {
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add some space at the bottom */

    .wrapper {
      .title {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
  }

  /* Dark Mode Styles */
  &.dark-mode {
    background-color: #1a1a1a;
    color: #f4f2f2;

    .textContainer {
      background-color: #363739;
      box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    }

    .textContainer .wrapper .title {
      color: #f4f2f2;
    }

    .textContainer .wrapper p {
      color: #f4f2f2;
    }
  }
}
