.aboutPage {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .imgContainer {
    img {
      width: 200px;
      height: 10px;
    }
  }

  .textContainer {
    .wrapper {
      text-align: center;

      .title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
