.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;

    h1 {
      font-weight: 300;
    }

    .message {
      background-color: #fcf5f3;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      position: relative;
      margin-left: 16px;
      width: 95%;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3), -2px -3px 3px 0px rgba(0, 0, 0, 0.1);

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .callicon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        opacity: 0.7;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      .callicon:hover {
        opacity: 1;
        transform: translateY(-55%);
      }

      span {
        font-weight: bold;
      }
    }

  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .close {
        cursor: pointer;
        padding: 5px 10px;
        background-color: #f0545429;
        border: none;
        border-radius: 5px;
        color: #f05454;
        font-weight: bold;
        margin-right: 10px;
      }

      .deleteButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
      }

      .deleteButton:hover {
        transform: scale(0.9);
      }

      .deleteIcon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      .profile {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
      }

      .profile:hover {
        transform: scale(0.9);

      }

      .profileIcon {
     margin-right: 10px;
      }
    }

    .center {
      height: 350px;
      overflow: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
        width: 50%;

        &.own {
          align-self: flex-end;
          text-align: right;
        }

        span {
          font-size: 12px;
          background-color: #f7c14b39;
          padding: 2px;
          border-radius: 5px;
        }
      }
    }

    .bottom {
      border-top: 2px solid #f7c14b85;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 20px;
      }

      button {
        flex: 1;
        background-color: #f7c14b85;
        height: 100%;
        border: none;
        cursor: pointer;
      }
    }
  }

  .avatarWrapper {
    position: relative;
    cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .dropdownMenu button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
  }

  .deleteIcon {
    margin-right: 8px;
  }

  &.dark-mode {
    background-color: #363739;
    color: #e8e6e3;
    border-radius: 10px;

    .messages {
      h1 {
        color: #e8e6e3;
      }

      .message {
        background-color: #3c3c3c !important;
        color: #9a9a9a;

        span {
          color: #ffffff;
        }
      }
    }

    .chatBox {
      background-color: #3c3c3c;

      .top {
        background-color: #4c4c4c;
      }

      .center {
        .chatMessage {
          background-color: #3c3c3c;
          color: #e8e6e3;

          span {
            background-color: #3c3c3c;
            color: #fece51;
          }
        }
      }

      .bottom {
        border-top: 2px solid #5c5c5c;

        textarea {
          background-color: #4c4c4c;
          color: #ffffff;
        }

        button {
          background-color: #fece51;
          color: #000000;
        }
      }
    }

    .dropdownMenu {
      background-color: #4c4c4c;
      color: #e8e6e3;

      button {
        color: #e8e6e3;
      }
    }
  }
}