@import "../../responsive.scss";

.profileUser {
  display: flex;
  height: 100%;
  padding: 20px;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 1;
    padding: 20px;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    @include md {
      flex: none;
      padding: 20px;
      margin-bottom: 20px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        h1 {
          font-weight: bold;
          font-size: 26px;
          color: #ffffff;
          border-bottom: 3px solid #fece51;
          padding-bottom: 10px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .avatar-username-container {
          display: flex;
          align-items: center;
          gap: 20px;

          .avatar-container {
            width: 130px;
            height: 130px;
            overflow: hidden;
            border: 3px solid #fece51;
            background-color: #fff;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .username {
            font-weight: bold;
            font-size: 24px;
            color: #ffffff;
          }
        }

        .user-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 18px;
          color: #ffffff;

          .user-icon {
            width: 24px;
            margin-right: 10px;
          }

          .email,
          .rating {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #666;
          }

          .rating {
            font-size: 16px;
            color: #333;

            b {
              font-weight: bold;
              color: #fece51;
            }
          }

          .user-rating {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            .rateButton {
              background-color: #4caf50;
              color: white;
              padding: 8px 16px;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              font-size: 16px;
              transition: background-color 0.3s;

              &:hover {
                background-color: #45a049;
              }
            }

            .ratingContainer {
              margin-top: 10px;

              .rater {
                font-size: 24px;
                color: yellow;
              }
            }
          }
        }
      }
    }
  }

  .userPosts {
    flex: 2;
    padding-left: 20px;
    overflow-y: auto;

    @include md {
      flex: none;
      padding-left: 0;
    }

    .wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        h1 {
          font-weight: bold;
          font-size: 26px;
          color: #333;
          border-bottom: 3px solid #fece51;
          padding-bottom: 10px;
        }
      }

      .postsList {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

.rater .react-rater-star.is-active,
.rater .react-rater-star.is-active-half::after {
  color: yellow !important;
}
